<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ css_link }}">
</head>

<body>
    <div class="navigation">
        <div class="navigation_container">
            <div class="navigation_left">
                <h2><a href="/" class="homepage_link">氣象資訊站</a></h2>
            </div>
            <div class="navigation_right">
                <button class="navigation_button today_button">今日天氣</button>
                <button class="navigation_button week_button">本週天氣</button>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer>
        <p>COPYRIGHT &copy; 2023 氣象資訊站</p>
    </footer>

    {% block extra_scripts %}{% endblock %}

    <script src="{{ url_for('static', filename='javascripts/base.js') }}"></script>
    <script src="{{ js_link }}"></script>
    <script src="{{ weather_js_link}}"></script>
    <script src="{{ taiwan_js_link}}"></script>
</body>

</html>