{% extends "base.html" %}

{% block content %}

<div class="main">
    <div class="main__container">
        <div class="scroll-area__container">
            <div class="scroll-area__left-button" onclick="scrollLeft()"></div>
            <div class="scroll-area__content-container">
                臺北市、新北市、基隆市、新竹市、桃園市、新竹縣、宜蘭縣、臺中市、苗栗縣、彰化縣、南投縣、雲林縣、高雄市、臺南市、嘉義市、嘉義縣、屏東縣、花蓮縣、臺東縣、澎湖縣、金門縣、連江縣</div>
            <div class="scroll-area__right-button" onclick="scrollRight()">
            </div>
        </div>
        <div class="main-information__container">
            <div class="weather-area__container">
                天氣區
            </div>
            <div class="taiwan-area__container">
                台灣地圖區
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% set css_link = url_for('static', filename='styles/index.css') %}
{% set js_link = url_for('static', filename='javascripts/index.js') %}

{% set weather_css_link = url_for('static', filename='styles/weather.css') %}
{% set weather_js_link = url_for('static', filename='javascripts/weather.js') %}

{% set taiwan_css_link = url_for('static', filename='styles/taiwan.css') %}
{% set taiwan_js_link = url_for('static', filename='javascripts/taiwan.js') %}