.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 54px;
    margin-bottom: 20px;
    width: 100vw;
    flex: 1;
}

.main_container {
    max-width: 1200px;
    width: 92%;
}

.scroll-area__container {
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.scroll-area__left-button {
    background-image: url('/static/images/index/gray_left.svg');
    width: 32px;
    height: 32px;
    border-style: hidden;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
}

.scroll-area__left-button:hover {
    background-image: url('/static/images/index/black_left.svg');
}

.scroll-area__right-button {
    background-image: url('/static/images/index/gray_right.svg');
    width: 32px;
    height: 32px;
    border-style: hidden;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
}

.scroll-area__right-button:hover {
    background-image: url('/static/images/index/black_right.svg');
}


.scroll-area__left-button,
.scroll-area__right-button {
    position: relative;
    flex-shrink: 0;
}

.scroll-area__content-container {
    cursor: pointer;
    scroll-behavior: smooth;
    overflow: hidden;
    color: #666;
    margin: 13px 10px 13px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    width: 1106px;
    min-width: 266px;
    font-size: 16px;
    font-weight: 500;
}

.scroll-area__content-name {
    padding: 5px 10px 5px 10px;
}

.scroll-area__content-name:hover {
    color: #16a8d4;
    font-weight: 600;
}

.scroll-area__content-name.active {
    color: #16a8d4;
}

.main-information__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.taiwan-area__container {
    display: flex;
    width: 50%;
    padding: 0px 15px 0px 15px;
}

.weather-area__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 15px 0px 15px;
}

@media (max-width: 640px) {
    .scroll-area__content-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}