.taiwan-area__container {
  height: 100vh;
  position: relative;
}

.taiwan-area__svg {
  position: absolute;
  top: 20px;
  left: 50px;
}

.taiwan-area__mouse {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  line-height: 30px;
  position: absolute;
  display: none;
}

.taiwan-area__block {
  cursor: pointer;
  outline: none;
  fill: #60c7fa;
  opacity: 0.8;
  transition: transform 0.4s;
}

.taiwan-area__block:hover,
.taiwan-area__block--active {
  fill: url("#grad1");
  transform: translate(-2px, -2px);
}
