.weather-area__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666666;
}

.content__weatherDetail--overview {
    width: 580px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #E3F2FE;
}

.overview__img {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    flex: 30%;
}

.overview__info {
    flex: 60%;
    margin-left: 10px;
}

.info__Main {
    display: flex;
    justify-content: space-between;
}

.info__areaName {
    font-size: 40px;
    font-weight: 800;
    flex: 50%;
    color: #20496B;
}

.info__areaDT {
    flex: 50%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.info__Detail {
    margin-top: 15px;
    display: flex;
}

.title {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.content {
    font-weight: 500;
}

.dn__info {
    width: 580px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.day,
.night {
    max-width: 550px;
    width: 48%;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3F2FE;
}

.night {
    background-color: #E3F2FE;
}

.day__time,
.night__time {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    flex: 10%;
    font-weight: 500;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 5px;
    color: white;
}

.day__time span,
.night__time span {
    flex: 20%;
    display: flex;
    align-items: center;
}

.day__info,
.night__info {
    flex: 50%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#day__Period,
#night_Period {
    width: inherit;
}

#day__Temp,
#day__Rain,
#night__Temp,
#night__Rain {
    width: inherit;
}

#day__Temp br,
#night__Temp br,
#day__Rain br,
#night__Rain br {
    display: none;
}

.day__img,
.night__img {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    flex: 25%;
}

.weekly {
    width: 580px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: #666666;
    background-color: #E3F2FE;
}

.weekly__each {
    flex: 15%;
    border: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.weekly__title {
    font-weight: 500;
    width: inherit;
    height: 10%;
}

.weekly__img {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    width: inherit;
    height: 80px;
}

.weekly__Temp {
    width: inherit;
    height: 10%;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .main__container {width: 100%;}
    .main-information__container {flex-wrap: wrap;}
    .weather-area__container {width: 100%;}
    .taiwan-area__container {width: 100%; justify-content: center;}
    .taiwan-area__svg {position: static;}
}

@media (max-width: 640px) {
    .content__weatherDetail--overview {width: 100%; margin-bottom: 10px}
    .overview__img {height: 100%}
    .info__Main {flex-direction: column;}
    .info__areaDT {flex-direction: row; font-size: 15px; margin-top: 5px; flex: none;}
    #info__areaTime {margin-left: 13px;}
    .info__Detail {flex-direction: column;}
    .title:last-child {margin-top: 5px;}
    .title br {display: none;}
    .content {margin-left: 10px;}
    #info__temp span {margin-left: 70px;}
    #info__Rain span {margin-left: 34px;}
    .dn {width: 100%;}
    .dn__info {width: 100%;}
    #day__Temp br, #night__Temp br, #day__Rain br, #night__Rain br {display: block;}
    .weekly {width: 100%; flex-wrap: wrap;}
    .weekly__each {flex: 25%;}
    #weekly__4, #weekly__5, #weekly__6 {margin-top: 20px;}
    .weekly__img {height: 120px;}
}

@media (max-width: 500px) {
    .weekly__img {height: 100px;}
}

@media (max-width: 365px) {
    #info__temp span {margin-left: 66px;}
    #info__Rain span {margin-left: 30px;}
}