.weather-area__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__weatherDetail--overview{
    /* width: 400px;
    height: 150px; */
    width: 500px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 6px #18c9ff;
    /* margin-top: 40px; */
    /* margin-left: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
}

.overview__img{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    flex: 30%;
    left: 20px;
}

.overview__info{
    flex: 60%;
    margin-left: 10px;
}

.info__areaName{
    font-size: 40px;
    font-weight: 800;
    display: flex;
    flex: 50%;
    justify-content: space-between;
    /* text-shadow: 0px 0px 10px #18c9ff; */
}

.info__areaName span{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex: 40%;
    flex-direction: column;
}

.info__Detail{
    margin-top: 15px;
    display: flex;
}

.title{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.content{
    font-weight: 500;
}

#info__Rain{
    margin-left: 20px;
}

/* .dn{ */
    
    /* display: flex; */
    /* justify-content: space-between; */
/* } */

/* .line{
    border-left: 5px solid #18c9ff;
    border-image: linear-gradient(to bottom right, #b9efff, #066987) 5;
    border-radius: 5px;
    height: 300px;
    margin-left: 85px;
    flex: 30%;
    margin-top: 30px;
} */

.dn__info{
    width: 500px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* margin-left: 10px; */
    /* flex: 60% */
    margin-top: 30px;
}

.day,
.night{
    width: 48%;
    height: 130px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 3px #41cbf5;
    /* margin-top: 30px; */
    /* margin-left: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: white;
    color: black;
}

.night{
    box-shadow: 0 1px 5px 3px #066987;
}

.day__time,
.night__time{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #41cbf5; */
    border-radius: 5px 0px 0px 5px;
    flex: 10%;
    font-weight: 700;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 5px;
    color: white;
}

/* .night__time{
    background-color: #066987;
    background-color: #093d4d;
} */

.day__time span,
.night__time span{
    flex: 20%;
    display: flex;
    align-items: center;
    /* text-align: center; */
}

.day__info,
.night__info{
    flex: 50%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#day__Period,
#night_Period{
    width: inherit;
    font-weight: 500;
}

#day__Temp,
#day__Rain,
#night__Temp,
#night__Rain{
    width: inherit;
}

.day__img,
.night__img{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    flex: 25%;
}

.weekly{
    width: 500px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 2px #aad7e5;
    margin-top: 20px;
    /* margin-left: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
    color: black;
}

.weekly__each{
    flex: 15%;
    border: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.weekly__title{
    font-weight: 1000;
    width: inherit;
    height: 10%;
}

.weekly__img{
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    width: inherit;
    height: 80px;
}

.weekly__Temp{
    width: inherit;
    height: 10%;
    font-weight: 400;
}

/* .weekly__Rain{
    width: inherit;
    height: 10%;
} */